<div class="file" id="f{{number}}">
    <div class="fileText" id="fT{{number}}">
        File: <a href="{{fileSrc}}" target="_blank">{{filename}}</a>
        ({{fileSize}}, {{w}}x{{h}})
    </div>
    <a class="fileThumb" href="{{fileSrc}}" target="_blank">
        <img src="{{fileThumbSrc}}" alt="{{fileSize}}" data-md5="{{md5}}"
            style="height: {{tn_w}}px; width: {{tn_h}}px;">
        <div data-tip="" data-tip-cb="mShowFull" class="mFileInfo mobile">{{fileSize}} {{fileType}}</div>
    </a>
</div>