<div id="p{{number}}" class="post reply">
    <div class="postInfoM mobile" id="pim{{number}}">
        <span class="nameBlock">
            {{template-name}}
            {{template-trip}}
            <span class="posteruid id_{{id}}">
                (ID: <span class="hand" title="Highlight posts by this ID">{{id}}</span>)
            </span>
            <br>
        </span>
        <span class="dateTime postNum" data-utc="{{time}}">{{time4chanFormatted}}
            <a href="#p{{number}}" title="Link to this post">No.</a>
            <a href="javascript:quote('{{number}}');" title="Reply to this post">{{number}}</a>
        </span>
    </div>
    <div class="postInfo desktop" id="pi{{number}}">
        <input type="checkbox" name="{{number}}" value="delete">
        <span class="nameBlock">
            {{template-name}}
            {{template-trip}}
            <span class="posteruid id_{{id}}">
                (ID: <span class="hand" title="Highlight posts by this ID">{{id}}</span>)
            </span>
        </span>
        <span class="dateTime" data-utc="{{time}}">{{time4chanFormatted}}</span>
        <span class="postNum desktop">
            <a href="#p{{number}}" title="Link to this post">No.</a>
            <a href="javascript:quote('{{number}}');" title="Reply to this post">{{number}}</a>
        </span>
    </div>
    {{template-file}}
    <blockquote class="postMessage" id="m{{number}}">{{comment}}</blockquote>
</div>