<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body>
    <div class="thread" id="t{{threadId}}">
        {{op}}
        {{replies}}
    </div>
</body>

</html>